<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8b3e5d4b-535f-4451-ac97-a8ec1f4bc611/resourceGroups/MyMentalHealth_group/providers/Microsoft.Web/sites/MyMentalHealth</ResourceId>
    <ResourceGroup>MyMentalHealth_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://mymentalhealth.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://mymentalhealth.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$MyMentalHealth</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>