@model IEnumerable<MyMentalHealth.Models.AdminModel>

@{
    ViewData["Title"] = "Index";
}
<div class="mt-5">
    <h1>Welcome Admin</h1>
    <p class="justify-content-evenly pb-5">
    
        As an admin of this website, you are responsible for managing the chat bot conversations. Click on the link below to access the Tidio Dashboard which hosts the chats with visitor of the website.<br>

        <br>
        <a class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer" href="https://www.tidio.com/panel/login">Tidio Dashboard</a>
        <br>

        <span class="notefont">Note: you must have been added as an operator by another admin that has the privileges to do so.</span>
    

    
    </p>
</div>

<style>
    .contact {
        font-family: Montserrat;
       
    }
    .notefont {
        font-size: 12px; 
    }
</style>

