@model MyMentalHealth.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Admin Login</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        <form class="card-body cardbody-color p-lg-5" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div>
                @if (ViewData["LoginError"] != null)
                {
                    <br />
                    @ViewData["LoginError"]
                    <br />
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<p>If you a student, please use the Student Login</p>

<style>
    .btn-color {
        background-color: rgba(0,79,46);
        color: #fff;
    }

    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }



    .cardbody-color {
        /*background-color: rgba(0,79,46);*/
        background-color: #f8f9fa;
    }

    a {
        text-decoration: none;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
