@model MyMentalHealth.Models.DailyCheckins


@{
    ViewData["Title"] = "Create";
}



<h1>DailyCheckIns</h1>
<hr />
@if (ViewBag.DailyCheckinComplete == "false")
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]" />
                <input type="hidden" asp-for="Date" value="@DateTime.Now.Date " />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Feeling" class="control-label"></label>
                    <input asp-for="Feeling" class="form-control" />
                    <span asp-validation-for="Feeling" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}


@if (ViewBag.DailyCheckinComplete == "true")
{
    <div>
        <p>
            You have already completed your daily checkin, please come back tomorrow!
        </p>

    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
