@model MyMentalHealth.Models.IssuesToUserModel
@using MyMentalHealth.Comparer


@{
    ViewData["Title"] = "ChooseIssues";
}

<div class="row mt-5 d-flex align-items-center justify-content-center" >
    <div class="col-md-5 col-sm-5 mx-auto">
        <h2>Choose Mental Health Issues</h2>
    </div>
</div>
<form asp-action="ChooseIssues">
    <div class="row mt-3">
        <div class="col-md-10">
            <table class="table table-bordered">
                @if (Model != null)
                {
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mental Health Issues</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mentalHealthIssues in Model.MentalHealthIssues)
                        {
                            <tr>
                                <td style="text-align:center; width:150px;">
                                    @if (Model.IssuesSelected != null && Model.IssuesSelected.Contains(mentalHealthIssues, new CompareIssues()))
                                    {
                                        <input type="checkbox" class="form-check-input" id="IssuesSelected" name="IssuesSelected" checked value="@mentalHealthIssues.Id">
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="form-check-input" id="IssuesSelected" name="IssuesSelected" value="@mentalHealthIssues.Id">

                                    }
                                </td>
                                <td>@mentalHealthIssues.Title</td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 d-flex">
            <input type="submit" value="Save" class="btn btn-outline-info ml-auto" />
        </div>
    </div>
</form>

<style>
    .btn-color {
        background-color: rgba(0,79,46);
        color: #fff;
    }

    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }



    .cardbody-color {
        /*background-color: rgba(0,79,46);*/
        background-color: #f8f9fa;
    }

    a {
        text-decoration: none;
    }

    td {
        border: none;
    }
</style>