@{
    ViewData["Title"] = "User Home Page";
}
<div class="row">
    <div class="col-md-10 mx-auto">
        @*<h1 class="display-4">Welcome to CS 476 Project: My Mental Health</h1>*@

        <div class="col-md-12" style="position:relative;">
            <div class="bg-light img-fluid"
                 style="position: absolute;
                        width: 97%;
                        height: 80%;
                        opacity:0.6">
            </div>

            @if (User.IsInRole("User"))
            {
                <h3 class="position-absolute top-50 w-75 p-3 text-capitalize font-weight-bold">
                    If you are considering self-harm, or know someone who is, immediate help is available 24/7. Please contact 911.
                </h3>
            }
            else
            {
        <h3 class="position-absolute top-50 w-75 p-3 text-capitalize font-weight-bold">
            If you are considering self-harm, or know someone who is, immediate help is available 24/7. Please contact 911.
        </h3>
            }

            <img src="./css/images/High-School-Students.jpg" class="img-fluid mx-auto d-block" style="background-size:cover;" />
        </div>

        <div class="p-3">
            <h3 class="me-auto py-3  text-black-50">We are in this together!</h3>
            <p class="justify-content-evenly pb-5">
                As we go back to campus life, each person is going to feel different, and that's okay. It is nearly impossible to know what others are struggling through, so if you're nervous about the changes, don't think that everyone else is fine and you're the only one affected by them. The pandemic has shown us one thing: we are all different when it comes to responding to major changes. Others may be taking more cautious steps towards socializing, whereas others may be eager to get out and about. If you want to change, you have to take your time and not feel pressured by others around you. Make changes slowly, and don't feel obligated to make them just because people around you are doing so. Please be kind to others who look nervous, and make sure you utilize the support we've provided on My Mental Health.
            </p>
        </div>
    </div>

</div>