@model MyMentalHealth.Models.RegistrationModel
@{
    ViewData["Title"] = "Register";
}



@*<div class="row">
    <div class="col-md-6">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @if (ViewData["RegistrationEmailError"] != null)
            {
                <div>
                    <br />
                    @ViewData["RegistrationEmailError"]
                    <br />
                </div>
            }
            @if (ViewData["RegistrationIdError"] != null)
            {
                <div>
                    <br />
                    @ViewData["RegistrationIdError"]
                    <br />
                </div>
            }
            

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5" asp-action="Register">


                    <div class="text-center">
                        @*<img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
            width="200px" alt="profile">*@
                        <h2 class="mb-5">Register</h2>
                    </div>
                    <div class="mb-3">
                        <input type="text" asp-for="FirstName" class="form-control" id="firstname" aria-describedby="emailHelp"
                               placeholder="First name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="text" asp-for="LastName" class="form-control" id="lastname" aria-describedby="emailHelp"
                               placeholder="Last name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="text" asp-for="StudentId" class="form-control" id="studentid" aria-describedby="emailHelp"
                               placeholder="Student Id">
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input type="email" asp-for="Email" class="form-control" id="email" aria-describedby="emailHelp"
                               placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="password" asp-for="Password" class="form-control" id="password" placeholder="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmpassword" placeholder="confirm password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    @if (ViewData["RegistrationEmailError"] != null)
                    {
                        <div>
                            <br />
                            @ViewData["RegistrationEmailError"]
                            <br />
                        </div>
                    }
                    @if (ViewData["RegistrationIdError"] != null)
                    {
                        <div>
                            <br />
                            @ViewData["RegistrationIdError"]
                            <br />
                        </div>
                    }
                    <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Register</button></div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                        Already have
                        an account? <a asp-controller="User" asp-action="Login" class="text-dark fw-bold">
                            Login
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<style>
    .btn-color {
        background-color: rgba(0,79,46);
        color: #fff;
    }

    .profile-image-pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }



    .cardbody-color {
        /*background-color: rgba(0,79,46);*/
        background-color: #f8f9fa;
    }

    a {
        text-decoration: none;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

