@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpHttpContextAccessor;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMentalHealth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMentalHealth.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyMentalHealth</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <partial name="_MenuPartial" />
                    </ul>
                    <ul class="navbar-nav ">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>*@
        <nav class="navbar navbar-expand-lg navbar-dark px-3 bg-yellow"  id="headerNav">
            <div class="container-fluid">
                <a class="navbar-brand d-block" asp-area="" asp-controller="Home" asp-action="Index">
                    <h4 class="navbar-brand-heading">MyMentalhealth</h4>
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto ">
                        <partial name="_MenuPartial" />
                        
                    </ul>
                    <ul class="navbar-nav ">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (User.IsInRole("User")) {
                <script src="//code.tidio.co/ypqxmbx0gcgalwni7ix7l0eh3xngpmda.js" async></script>
             }
            @RenderBody()
        </main>
    </div>

    <footer class="footer align-bottom">
        <div class="container">
            &copy; 2022 - MyMentalHealth - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Full Calendar*@
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="~/js/main.js"></script>"

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

