@model MyMentalHealth.Models.Article

@{
    ViewData["Title"] = "ShowArticle";
}
<h2>@Model.Title</h2>

@if (Model.HTMLContent != null)
{
    <div class="row">
        <div id="TextContent" class="mt-3 col-md-10">
            @Html.Raw(Model.HTMLContent)
        </div>
    </div>
}